<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.eat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EAT">
        <activity
            android:name=".Chapter5.Ch5InterProcessCommunicationActivity"
            android:exported="false" />
        <activity
            android:name=".Chapter5.SynchronousRPCActivity"
            android:exported="false" />
        <activity
            android:name=".Chapter4.UIThreadCommunicationActivity"
            android:exported="false" />
        <activity
            android:name=".Chapter4.MessageQueueDebugActivity"
            android:exported="false" />
        <activity
            android:name=".Chapter4.Ch4ThreadCommunicationActivity"
            android:exported="false" />
        <activity
            android:name=".Chapter4.PipeExampleActivity"
            android:exported="false" />
        <activity
            android:name=".Chapter4.HandlerCallBackActivity"
            android:exported="false" />
        <activity
            android:name=".Chapter4.HandlerExampleActivity"
            android:exported="false" />
        <activity
            android:name=".Chapter4.LooperActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>